.logo {
font-size: 30px;
color: white;
}

#fixed_button {
  right: 30px;
  bottom: 60px;

}

@media (max-width: 768px) {
  #fixed_button {
    right: 5px;
    bottom: 60px;
  }
}


#portfolio {
  padding-left: 10px  ;
  font-size: 20px;
}