button.exchange {
  font-size: 50px;
  padding: 0 15px;
  background: rgb(160, 160, 226);
  border-radius: 20%;
  text-shadow: 2px 2px;
  outline-offset: 4px;
  border: 1px groove;
}

@media (max-width: 768px) {
  button.exchange {
    transform: rotate(90deg)
  }
}
