#main_1 {
  margin-top: 50px;
  padding: 50px;
  border: solid 2px;
  border-radius: 15px;
}

button.exchange {
  font-size: 50px;
  background: none;
  border: solid 1px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  button.exchange {
    transform: rotate(90deg)
  }
}

#main_2 {
  max-height: 500px;
  overflow-y: scroll;
}
 